<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    body {
        padding: 0;
        margin: 0;
        background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(wallpaper.jpg);
        background-size: cover;
    }

    input {
        text-align: initial;
        margin: 150px;
        margin-left: 400px;
        width: 400px;
        height: 150px;
        background: cornsilk;
    }
</style>
<body>
    <form action="/fullpage" method="post">
        <input type="text" name="Name" placeholder="your comment">
        <button>send</button>

    </form>
   
</body>
</html>
