<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dignity</title>
</head>
<style>
     body {
            background-color: aliceblue;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            
        }

        h1 {
            text-align: center;
        }

        img {
            display: inline-flex;
            justify-content: space-between;
            width: 220px;
            height: 300px;
            padding: 20px;
        }

        h5 {
            text-align: center;
        }

        button {
            margin-left: 500px;
        }

      
        @media only screen and (max-width:850px) {
            body {
                background-color: aliceblue;
                margin-right: 5px;
                
            }


            h1 {
                width: 70%;
                text-align: center;
                text-align: center;
                margin-left: 55px;
            }

            img {
                display: inline-flex;
                align-content: center;
                padding-left: 5px;
                margin-left: 5px;
                width: 190px;
            }
            h5 {
                width: 70%;
                align-items: center;
                margin-left: 55px;
            }

            a button {
                width: 200px;
                align-content: center;
                margin-left: 40px;
                margin-left: 105px;
            }

         
            
        }
</style>
<body>
    <h1>These are some of the sneakers available for now:</h1>

    <img src="pic 1.jpg">
    <img src="pic 2.jpg">
    <img src="newshoee.png">
    <img src="pic 8.jpg">

    <h5>you can click the button below to veiw more of our goods and order them</h5>
    <a href="/fullpage"><button>click here to view more</button></a>
    
</body>
</html>